
h1 {
    margin: 0 0 0.5em;
    float: left;
}

#container {
    margin-top: 1em;
}

input {
    margin-top: 0.5em !important;
}

p.date {
    line-height: 1em;
    margin-bottom: 0.4em;
}

#week-forecast {
    padding: 1em 0 !important;
}

.small {
    font-size: 0.7em;
}

.grey {
    color: rgba(black, .6);
}

.controls {
    float: right;
    font-size: 0.7em;
    .group {
        float: right;
        margin-left: 0.5em;
        &>div {
            float: left;
            padding: 0.5em;
            background-color: rgba(black, 0.05);
            border: 1px solid rgba(black, 0.1);
            cursor: pointer;
            &:first-child {
                border-right: none !important;
            }
            &.active {
                font-weight: bold !important;
            }
        }
    }
}

.icon {
    @include border-radius(10px);
    margin-bottom: 1em;
}
.day-forecast {
    margin-bottom: 2em;
}

.temp, .wind {
    & p {
        margin-bottom: 0em;
    }
}

.wind p {
    font-size: 0.8em;
}
